footer {
  &#footer {
    svg {
      color: $color-secundario;
      :hover {
        cursor: pointer; 
        color: rgb(146, 146, 146);
      }
    }
    div#contenedorIconos {
      display: flex;
      align-content: center;
      justify-content: center;
      gap: 1rem;
    }
  }
}

  